<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Familiares</title>
</head>
<body>
    
<ul>
    
    {% for familiares in lista_familiares  %}
    <li>Familiar: {{familiares.nombre}} {{familiares.apellido}}, tiene {{familiares.edad}} años y su dia de nacimiento fue {{familiares.fnac}}</li>
    {% endfor %}
        
</ul>

</body>
</html>